:root {
  --black: #1e1e1e;
  --blue: #263156;
  --blue-light: #4a90e2;
  --gray: #212e4c;
  --gray-light: #f0f3ff;
  --gray-dark: #2c2c2c;
  --gray-border: #d9d9d9;
  --green: #11b047;
  --white: #fff;
  --red: #ef5350;
}
